{{- define "http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://www.w3.org/1999/02/22-rdf-syntax-ns#Property" -}}
property {{ .Node.Subject.RawValue }} {{ index (.Objects "http://www.w3.org/2000/01/rdf-schema#label") 0 }}
{{- end }}

{{- define "http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://www.w3.org/2000/01/rdf-schema#Class" -}}
Class: {{ .Node.Subject.RawValue }}
{{- range .To }}
{{- if .HasPredicate "http://www.w3.org/1999/02/22-rdf-syntax-ns#type" "http://www.w3.org/1999/02/22-rdf-syntax-ns#Property"}}
{{- template "http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://www.w3.org/1999/02/22-rdf-syntax-ns#Property" . }}
{{ end -}}
{{ end -}}
{{- range .From }}
{{- if .HasPredicate "http://www.w3.org/1999/02/22-rdf-syntax-ns#type" "http://www.w3.org/2000/01/rdf-schema#Class"}}
{{ template "http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://www.w3.org/2000/01/rdf-schema#Class" .}}
{{ end -}}
{{ end -}}
{{ end -}}

{{ define "main" }}
{{ template "http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://www.w3.org/2000/01/rdf-schema#Class" . }}
{{ end }}